h1{
  text-align: center;
}

.container{
  font-family: Comic Sans MS;
}


#welcome-screen {
  border: 1px solid black;
}

#game-screen {
  border: 1px solid red;
}
.row{
  padding-top: 25px;
}
.yourName{
  padding-top: 6px;
}
#go-button, #start-game-button{
  margin-bottom: 25px;
  margin-left: 350px;
}
#score{
  font-size: 25px;
  margin-left: 450px;
}