/* h1{
  text-align: center;
}
#welcome-screen{
  border-style: dashed;
  border-color: pink;
  height: 100px;
  border: 1px, solid, black;
}
.container{
  font-family: Comic Sans MS;
}
button{
  background-color: plum;
}
#game-screen{
  text-align: center;
  padding-top: 30px;
}
#score{
  font-size: 25px;
} */
#welcome-screen{
  border: 1px solid black;
}
#game-screen{
  border: 1px solid red;
}